.new-post-modal{:style => "display: none;"}
  .new-post-wrapper
    .modal-container.new
      .new-post-header
        POST A NEW PRODUCT
      .new-post-subheader
        Find something new and interesting? Hunt it!
      .new-post.well
        = form_for :post, :validate => true, url: {action: "create", controller: "/posts"} do |p|
          = p.url_field :url, :required => true, :placeholder => "Product URL"
          = p.text_field :name, :required => true, :placeholder => "Product Name"
          = p.text_field :description, :required => true, :placeholder => "Product Description", :maxlength => 60
          = p.submit "Hunting..."


