<header class="site--header headroom headroom--top headroom--pinned" data-auto-hide="true">
  <div class="container">
    <a href="/" class="brand">
      <%= render 'shared/logo'%>
      <%= render 'shared/brand_title'%>
    </a>
    <div class="site--header--nav">
      <ul class="site--header--pages">
        <li class="site--header--promo">
          <span>
            <a href="/e/lean-startup-tools">
              <img alt="Lean startup tools nav" src="https://s3.amazonaws.com/ph-s3/list-assets/lean-startup-tools-nav.png">
            </a>
          </span>
        </li>

        <% unless user_signed_in? %>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>

        <li><%= link_to "About", about_path %></li>

        <li class="site--header--dropdown">
          <%= render 'shared/more_dropdown_menu'%>
        </li>
      </ul>

        <ul class="site--header--actions">
          <li class="site--header--post">
              <a href="/new-post" class="new-post-link"></a>
          </li>

          <li class="site--header--notifications">
              <a href="#" class="show-notifications"></a>
          </li>         
        </ul>

          <% if user_signed_in? %>
            <div class="site--header--avatar site--header--dropdown">
              <%= render 'shared/user_dropdown_menu'%>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</header>

