<!DOCTYPE html>
<html>
<head>
  <title>Product Hunt</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class_name %>">
  <%= render 'layouts/header'%>
  <%= render 'layouts/main_head_container'%>
  <div class="container-main container">
   <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="yield-container">
        <%= yield %>
      </div>
  </div>
</body>
</html>
