<!DOCTYPE html>
<html>
<head>
  <title>Product Hunt</title>
  <link href="/assets/style.css" media="all" rel="stylesheet">
  
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= @new_class %>">
  <%= render 'layouts/header'%>


  <%= render 'layouts/main_head_container'%>
  <div class="container-main container">
      <div class="yield-container">
        <%= yield %>
      </div>
  </div>
</body>
</html>
